<div class="groceryClass"style="margin-bottom: 5px;">
    <div class="step" style="margin-bottom: 5px;">
      <h1 class=" mb-3 text-center grocerylist">Our<i> Grocery List</i></h1>
      <div class="row mt-3" style="margin-left: 60px;">
          <div class="col-lg-2" style="border:solid; background-color: rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/Fruits/fruits.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >Fruits</h5>
                  <ul style="list-style-type: square">
                      <li>Apple</li>
                      <li>Avacado</li>
                      <li>Bananas</li>
                      <li>Berries</li>
                      <li>Grapefruit</li>
                      <li>Kiwi Fruit</li>
                      <li>Lemons</li>
                      <li>Limes</li>
                      <li>Melon</li>
                      <li>Oranges</li>
                      <li>Peaches</li>
                      <li>Pears</li>
                      <li>Plums</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px; background-color: rgb(245,244,241);">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/Vegetables/veg1.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >Vegetables</h5>
                  <ul style="list-style-type: square">
                      <li>Broccoli</li>
                      <li>Carrots</li>
                      <li>Cauliflower</li>
                      <li>Chillis</li>
                      <li>Cilantro</li>
                      <li>Corn</li>
                      <li>Cucumber</li>
                      <li>Garlic</li>
                      <li>Ginger</li>
                      <li>Tomatoes</li>
                      <li>Mushrooms</li>
                      <li>Onions</li>
                      <li>Potatoes</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px;background-color:rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/Dairy/dairy1.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >Dairy</h5>
                  <ul style="list-style-type: square">
                      <li>Butter</li>
                      <li>Cheese</li>
                      <li>Cottage Cheese</li>
                      <li>Cream Cheese</li>
                      <li>Creamer</li>
                      <li>Eggs</li>
                      <li>Margarine</li>
                      <li>Milk</li>
                      <li>Parmesan cheese</li>
                      <li>Sour Cream</li>
                      <li>Yogurt</li>
                      <li>Custard</li>
                      <li>Frozen</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px; background-color:rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/breads/bread1.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >Bread/Bakery</h5>
                  <ul style="list-style-type: square">
                      <li>Cookies</li>
                      <li>Cake</li>
                      <li>Cup Cakes</li>
                      <li>French Bread</li>
                      <li>Burger Buns</li>
                      <li>Muffins</li>
                      <li>Biscuits</li>
                      <li>Pastries</li>
                      <li>Pie</li>
                      <li>Pizza Base</li>
                      <li>Tart</li>
                      <li>Tortillas</li>
                      <li>Brownie</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px; margin-right: 5px;background-color: rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/Cereals/Cereal1.jpeg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 8px;" >Grains/Flour/Pulses</h5>
                  <ul style="list-style-type: square">
                   
                      <li>Raw rice</li>
                      <li>Basmati rice</li>
                      <li>Poha</li>
                      <li>Wheat flour</li>
                      <li>Maida</li>
                      <li>Besan</li>
                      <li>Rava</li>
                      <li>Masoor Dal</li>
                      <li>Chana Dal</li>
                      <li>Urad Dal</li>
                      <li>Moong Dal</li>
                      <li>Chole</li>
                      <li>Chane</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
    
      </div>
      <!-- <div class="row mt-3" style="margin-left: 60px;">
          <div class="col-lg-2" style="border:solid;background-color: rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/bgLogin.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >Drinks</h5>
                  <ul style="list-style-type: square">
                      <li>Water</li>
                      <li>Tea</li>
                      <li>Coffee</li>
                      <li>Sparkling</li>
                      <li>Juices</li>
                      <li>Energy Drink</li>
                      <li>Mocktails</li>
                      <li>Milkshakes</li>
                      <li>Smoothies</li>
                      <li>Cocoa</li>
                      <li>Tonic water</li>
                      <li>Shakes</li>
                      <li>Hard Soda</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px; background-color: rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/bgLogin.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >Spices</h5>
                  <ul style="list-style-type: square">
                      <li>Chilli Powder</li>
                      <li>Cumin</li>
                      <li> Red Pepper Flakes</li>
                      <li>Black Pepper</li>
                      <li>Oregano</li>
                      <li>Mustard seed</li>
                      <li>Turmeric</li>
                      <li>Cardamom</li>
                      <li>Cloves</li>
                      <li>Garam Masala</li>
                      <li>Saffaron</li>
                      <li>Amchoor</li>
                      <li>Fennel seed</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px;background-color:rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/bgLogin.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >Condiments</h5>
                  <ul style="list-style-type: square">
                      <li>Brown Sugar</li>
                      <li>Ketchup</li>
                      <li>Jelly</li>
                      <li>Olive oil</li>
                      <li>Vegetable oil</li>
                      <li>Soya saurce</li>
                      <li>White Sugar</li>
                      <li>Salt</li>
                      <li>Vinegar</li>
                      <li>Honey</li>
                      <li>Pickles</li>
                      <li>Pasta Sauce</li>
                      <li>Hot sauce</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px; background-color: rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/bgLogin.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >Snacks</h5>
                  <ul style="list-style-type: square">
                      <li>Chips</li>
                      <li>Crackers</li>
                      <li>Dry Fruits</li>
                      <li>Pop Corn</li>
                      <li>Maggie</li>
                      <li>Pasta</li>
                      <li>Noodles</li>
                      <li>Tornito Chips</li>
                      <li>Biscuits</li>
                      <li>Namkeen</li>
                      <li>Bhakarwadi</li>
                      <li>Chivda</li>
                      <li>Khurma</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px; margin-right: 5px;background-color: rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/bgLogin.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 8px;" >Households</h5>
                  <ul style="list-style-type: square">
                   
                      <li>Bath Towels</li>
                      <li>Dishwasher soap</li>
                      <li>Soap</li>
                      <li>Shampoo</li>
                      <li>Detergent powder</li>
                      <li>Toilet cleaner</li>
                      <li>Tissue paper</li>
                      <li>Shaving cream</li>
                      <li>Floor cleaner</li>
                      <li>Air Freshening spray</li>
                      <li>Aluminium foil</li>
                      <li>Light bulb</li>
                      <li>Tooth brush</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
    
      </div>
  
      
      <div class="row mt-3" style="margin-left: 60px; ">
          <div class="col-lg-2" style="border:solid;background-color: rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/bgLogin.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >Stationary</h5>
                  <ul style="list-style-type: square">
                      <li>Staplers</li>
                      <li>Punching Machine</li>
                      <li>Sticky Tapes</li>
                      <li>Pen</li>
                      <li>Pencils</li>
                      <li>Crayons</li>
                      <li>Water colors</li>
                      <li>Pencil colors</li>
                      <li>Copy</li>
                      <li>Dairy</li>
                      <li>Draing books</li>
                      <li>Sheets</li>
                      <li>Files</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px; background-color: rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/Fruits/fruits.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >Spices</h5>
                  <ul style="list-style-type: square">
                      <li>Chilli Powder</li>
                      <li>Cumin</li>
                      <li> Red Pepper Flakes</li>
                      <li>Black Pepper</li>
                      <li>Oregano</li>
                      <li>Mustard seed</li>
                      <li>Turmeric</li>
                      <li>Cardamom</li>
                      <li>Cloves</li>
                      <li>Garam Masala</li>
                      <li>Saffaron</li>
                      <li>Amchoor</li>
                      <li>Fennel seed</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px;background-color: rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/bgLogin.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >Personal</h5>
                  <ul style="list-style-type: square">
                      <li>Conditioner</li>
                      <li>Cotton Products</li>
                      <li>Deodarants</li>
                      <li>Hair Spray</li>
                      <li>Lip Balm</li>
                      <li>Lotion</li>
                      <li>Mouth wash</li>
                      <li>Face cream</li>
                      <li>Powder</li>
                      <li>Makeup</li>
                      <li>Comb</li>
                      <li>Body spray</li>
                      <li>Hair brush</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px; background-color:rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/bgLogin.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 19px;" >Plastic</h5>
                  <ul style="list-style-type: square">
                      <li>Tiffin</li>
                      <li>Bottles</li>
                      <li>Spray Bottle</li>
                      <li>Plastic bags</li>
                      <li>Kitchenware</li>
                      <li>Trash bag</li>
                      <li>Packing material</li>
                      <li>Containers</li>
                      <li>Soap dish</li>
                      <li>Bathroom stool</li>
                      <li>Kitchenware</li>
                      <li>Backets</li>
                      <li>Boxes</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
  
            <div class="col-lg-2" style="border:solid; margin-left: 20px; margin-right: 5px; background-color:rgb(245,244,241)">
              <div class="stepBox">
                <div class="mt-2 mb-4 " >
                  <img src="../../assets/bgLogin.jpg" height="100px" width="170px">
                  <h5 class="mt-2"style="margin-left: 8px;" >Baby Products</h5>
                  <ul style="list-style-type: square">
                   
                      <li>Napkin</li>
                      <li>Baby Soap</li>
                      <li>Baby Powder</li>
                      <li>Baby Cream</li>
                      <li>Feeding bootle</li>
                      <li>Play Mat</li>
                      <li>Baby Wipes</li>
                      <li>Milk Storage Bags</li>
                      <li>Blankets</li>
                      <li>Dribble Bibs</li>
                      <li>Infant Bathing tubs</li>
                      <li>Burp cloth</li>
                      <li>Nursing Pillow</li>
                  </ul>
                 
                </div>
              </div>
    
            </div>
    
      </div>
    </div>
  </div> -->