
<div class="bgImage">
  
    <div class="container ">
        <div class="content">
        <h1>About Us</h1>
        
    <p ><b>Grocery ToGo</b>
         is a national chain of neighborhood grocery stores.
         We are committed to providing our customers outstanding value in the form of 
         the best quality products at the best everyday prices. Through our rewarding products and knowledgeable, friendly Crew Members, we have been transforming grocery shopping into a welcoming journey full of discovery
          and fun since 2022.
</p>

<p>
    We deliver a wide range of groceries.
     Users have to first login into the system to view the groceries and add them into their cart.
</p>
    </div>

</div>
</div>

   


