<div class="container mt-5">

    
      
    
    <div class=" text-center card">
        <i class="text-center bi bi-check-circle-fill mt-3"></i>
        <h3 class="text-center mt-3">Thank you, your order has been placed.</h3>
        <p> An email confirmation has been sent to you.</p>
        <p>Checkout more product on our website <i routerLink="/allproducts" class="bi bi-arrow-right-circle-fill"></i></p>
        <p><b>Gauranteed Delivery: <span style="color: green;"> In 2 Hours</span></b> </p>
    </div>
</div>