mat-hint{
    font-size: 10px;
}

body {
    background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
  }

  .right .card{
    padding: 15px;
  }
  
  .right p,.right h1{
    padding-top: 80px;
  }
  .box-form {
  padding-top: 10px;
  padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 87%;
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    /* box-shadow: 0 0 80px 86px #b6cbae; */
  }
  @media (max-width: 980px) {
    .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  }
  .box-form div {
    height: auto;
  }
  .box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/bgLogin.jpg");
    overflow: hidden;
  }
  .box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #485d41ad;
    overflow: hidden;
    box-sizing: border-box;
  }
  .box-form .left .overlay h1 {
    font-size: 90px;
    line-height: 1;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
  }
  .box-form .left .overlay span p {
    margin-top: 30px;
    font-weight: 900;
  }
  .box-form .left .overlay span a {
    background: #3b5998;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 14px 50px;
    border-radius: 100px;
    display: inline-block;
    box-shadow: 0 3px 6px 1px #042d4657;
  }
  .box-form .left .overlay span a:last-child {
    background: #1dcaff;
    margin-left: 30px;
  }
  .box-form .right {
    padding: 20px;
    overflow: hidden;
  }
  @media (max-width: 980px) {
    .box-form .right {
      width: 100%;
    }
  }
  .box-form .right h5 {
    color:#F64C32;
    font-size: 4vmax;
    text-align: center;
    line-height: 0;
    padding-top: 50px;
  }
  .box-form .right p {
    font-size: 14px;
    color: #B0B3B9;
  }
  .box-form .right .inputs {
    overflow: hidden;
  }
  .box-form .right input {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
  }
  .box-form .right .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box-form .right .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
  }
  .box-form .right button {
    float: right;
   
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 100px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 2px 15px 0px #72CC50;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
  }
  
  label {
    display: block;
    position: relative;
    margin-left: 30px;
  }
  
  label::before {
    content: ' \f00c';
    position: absolute;
    font-family: FontAwesome;
    background: transparent;
    border: 3px solid #ff5c33;
    border-radius: 4px;
    color: transparent;
    left: -30px;
    transition: all 0.2s linear;
  }
  
  label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: #13ed13;
  }
  
  label:hover::before .text-checkbox {
    background: #ff5c33;
  }
  
  label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  
  label input[type="checkbox"] {
    display: none;
  }

  .full-width{
   width: 20px 120px;
  }

  .height-small{
    height: 10px;
  }
  .mat-form-field{
    height: 16px;
  }

  .custom-height{
    height: 10px;
  }

  .example-container mat-form-field + mat-form-field .full-width {
    margin-left: 8px;
  
  }
  .example-container .mat-form-field .full-width{
    max-height: 10px;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: whitesmoke;
    height: 50px;
}


.matInput .custom-height .inputs .right{
    size: 30px;
}


::ng-deep .mat-input{
    width:400px !important;
  }
/* ::ng-deep .mat-mdc-text-field-wrapper{
  height: 50px !important;
}

::ng-deep .mat-mdc-input-element{
  top: -10px !important;
  position: relative !important;
} */
.box-input{
    position: fixed;
   top: 50%;
   left: 50%; 
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%); 
   width:100%;
}

::ng-deep .mycsssnackbartest{
    background:#FFFDD0 ;
}





.bgImg{
  background-size: cover;
  height: 75vh;
  width: 80%;
  padding: 30px 30px;
  position: relative;
  text-align: center;
  color: white;
}

.imgBG{
  position: relative;
  text-align: center;
  color: white;
}

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bolder;
    font-size: 90px;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, serif;
  }


  .row .col-lg-6 h3 {
    font-size: 5vmax;
    text-align: center;
    line-height: 0;
  
    
   padding-bottom: 30px;
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .col-lg-6 p {
    font-size: 15px;
    color: #B0B3B9;
    padding-top: 5px;
  }

  .btnStyle {
    float: right;
   
    color: #fff;
    font-size: 16px;
    padding: 5px 100px;
    
    margin-bottom: 1px;
 
    border-radius: 30px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 2px 15px 0px #72CC50;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
    cursor :pointer;
  }

form{
  padding-top: 20px;
}